
<div style="text-align:center">
  <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    &nbsp;
  </div>
  <div class="container-fluid" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex="35%" fxFlexOffset="50px">
      <div>
        &nbsp;
      </div>
    </div>
    <div fxFlex style="border:1px solid yellow">
      <mat-card class="example-card">
        <form #f="ngForm" (ngSubmit)="save(f.value,f.valid)"  class="example-form">
          <div fxLayout.xs="row">
            <div fxFlex>
              <mat-form-field class="example-form-width">

                <input name="email" matInput placeholder="Email"
                 [ngModel]="userLogin.email" #email="ngModel">

              </mat-form-field>
            </div>
          </div>
          <div fxLayout.xs="row">
            <div fxFlex>
              <mat-form-field class="example-form-width">
                <input type="password" name="password" matInput placeholder="Password" [ngModel]="userLogin.password"
                #password="ngModel">

              </mat-form-field>
            </div>
          </div>
          <div fxLayout.xs="row">
          
            <div fxFlex>
              <button type="submit" mat-button>Login</button>
            </div>
          </div>

        </form>
      </mat-card>
    </div>
    <div fxFlex="35%" fxFlexOffset="50px">
      <div>

        &nbsp;
      </div>
    </div>
  </div>

</div>