<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    &nbsp;
  </div>
  <div class="container-fluid" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex="35%" fxFlexOffset="50px">
      <div>
        &nbsp;
      </div>
    </div>
    <div fxFlex style="border:1px solid yellow">
      <mat-card class="example-card">

        <mat-card-header>

          <mat-card-title>
            <div style="text-align:center">Login</div>
          </mat-card-title>

        </mat-card-header>
        <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
        <mat-card-content>
          <input type="text">

        </mat-card-content>
        <mat-card-actions>

          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="35%" fxFlexOffset="50px">
      <div>

        &nbsp;
      </div>
    </div>
  </div>

</div>